<% provide(:title, 'Контакты') %>
<h1>Контакты</h1>
<p>
  Кто я без высшего педагогического образования?
  <nav>
    <ul>
      <li>Веб-дизайнер</li>
      <li>Путешественница</li>
      <li>Любительница животных</li>
    </ul>
  </nav>
  Я в <a href="http://vk.com/olyavod" target="_blank">ВК</a>.
</p>