<div class="modal fade" id="myModal">
  <span class="close_x" data-dismiss="modal"
        onclick="document.getElementById('myModal').style.display='none'">×</span>
  <img class="modal-content" id="img"></img>
  <div id="caption"></div>
</div>