<div class="center jumbotron">
  <h1>Welcome to the onMath.ru</h1>
  <h2>
    Дистанционное изучение математики для учеников 5-11 классов
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>