<footer class="footer">
  <small>
    ОНЛАЙН-РЕПЕТИТОР ПО МАТЕМАТИКЕ ДЛЯ УЧЕНИКОВ 5-11 КЛАССОВ
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="http://vk.com/olyavod" target="_blank">ВК</a></li>
    </ul>
  </nav>
</footer>